<h1>Carrito de Compras</h1>

    {{#if cart.length}}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#each cart}}
                    <tr>
                        <td>{{this.product.name}}</td>
                        <td>{{this.quantity}}</td>
                        <td>${{this.product.price}}</td>
                        <td>${{this.totalPrice}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <p><strong>Total del carrito:</strong> ${{totalPrice}}</p>
    {{else}}
        <p>Tu carrito está vacío.</p>
    {{/if}}